html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300px;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

.copyright {
  text-align: right;
}